- if user_signed_in?
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      My Account
      %b.caret
    %ul.dropdown-menu
      %li
        %a{:href => "#"} Action
      %li{class: active_class?(edit_user_registration_path)}= link_to('Edit account', edit_user_registration_path)
      %li{class: active_class?(destroy_user_session_path)}= link_to('Logout', destroy_user_session_path, :method=>'delete')
- else
  %li{class: active_class?(new_user_session_path)}= link_to('Login', new_user_session_path)
  %li{class: active_class?(new_user_registration_path)}= link_to('Sign up', new_user_registration_path)