.hero-unit
  %h2 Ladder Boost!
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel elit sit amet quam ultrices condimentum ac sed est. Nulla nec ligula in mauris ornare tincidunt a eget sem. Cras fringilla molestie nisi, eu volutpat est posuere ac. Phasellus ut quam nunc. Phasellus eget massa ante. Mauris eu sapien eu tortor rutrum placerat. Sed vel dui nisl. Nunc mattis mauris in arcu faucibus molestie. Aenean at malesuada sapien. Praesent sed enim in nunc iaculis facilisis sed non nisi. Etiam convallis placerat turpis sit amet accumsan. Quisque fringilla cursus risus, vel condimentum sapien viverra eget. Nam felis erat, feugiat eget lobortis et, consequat sit amet nulla. Nunc tellus mi, consectetur nec cursus a, commodo nec ligula. Nunc ut neque a enim lobortis pretium eleifend ac eros. Mauris suscipit turpis sit amet lorem tincidunt ullamcorper sit amet ultrices risus.

  %p
    %a.btn.btn-primary.btn-large{:href => "#"} Learn more »
/ Example row of columns
-#.row
  .span4
    %h2 Heading
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    %p
      %a.btn{:href => "#"} View details »
  .span4
    %h2 Heading
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    %p
      %a.btn{:href => "#"} View details »
  .span4
    %h2 Heading
    %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    %p
      %a.btn{:href => "#"} View details »