.well
  %table.table
    %thead
      %tr
        %th Education Details
        %th
          %a{href: new_user_education_path(current_user) }
            %i.icon-plus &nbsp;Add
    %tbody
      - if @educations.blank?
        %tr
          %td{colspan: '2'}
            %p.text-error No Educations found
      - else
        - @educations.each do |education|
          %tr
            %td
              .row_content_large= education.school_name
              .row_content_medium=  education.degree
              .row_content_small
                =  education.education_start_date
                \-- #{education.education_end_date}
            %td.edit_align
              %a{href: edit_user_education_path(current_user,education) }
                %i.icon-edit &nbsp;edit




