body {
    margin: 0;
    padding: 0;
}

#background
{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 700px;
    overflow: hidden;
    z-index:0;
}

#main
{
    left: 0px;
    top: 0px;
    position: absolute;
    width: 1539px;
    height: 1692px;
    z-index:1;
}

#bg
{
    left: 300px;
    top: 140px;
    position: absolute;
    width: 769px;
    height: 480px;
    z-index:2;
}

#Layer17copy
{
    /*left: 1009px;*/
    left: 924px;
    top: 60px;
    position: absolute;
    width: 230px;
    height: 230px;
    z-index:3;
}

#Layer17copy2
{
    /*left: 1009px;*/
    left: 924px;
    top: 60px;
    position: absolute;
    width: 230px;
    height: 230px;
    z-index:4;
}

#Layer2
{
    /*left: 301px;*/
    left: 216px;
    top: 470px;
    position: absolute;
    width: 230px;
    height: 230px;
    z-index:6;
}

#Layer1
{
    /*left: 301px;*/
    left: 216px;
    top: 470px;
    position: absolute;
    width: 230px;
    height: 230px;
    z-index:7;
}

#Layer1939sDropShadow_0
{
    left: 367px;
    top: 565px;
    position: absolute;
    width: 69px;
    height: 72px;
    z-index:8;
}

#Layer5copy
{
    left: 896px;
    top: 438px;
    position: absolute;
    width: 167px;
    height: 50px;
    z-index:9;
}

#Createaccountusingot
{
    left: 900px;
    top: 380px;
    position: absolute;
    width: 147px;
    height: 31px;
    z-index:10;
}

#or
{
    left: 962px;
    top: 353px;
    position: absolute;
    width: 14px;
    height: 9px;
    z-index:11;
}

#Username
{
    left: 388px;
    top: 352px;
    position: absolute;
    width: 53px;
    height: 9px;
    z-index:26;
}

#Signupcopy2
{
    left: 683px;
    top: 250px;
    position: absolute;
    width: 99px;
    height: 28px;
    z-index:27;
}

#Layer1copy
{
    left: 332px;
    top: 159px;
    position: absolute;
    width: 149px;
    height: 155px;
    z-index:28;
}
#save
{
    background-color: #51a2d5;
    border-radius: 15px;
    /*box-shadow: 2px 2px 4px #777;*/
    font-size: 1em;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
}

#sign_up_text {
    margin-left: 361px;
    margin-top: -63px;
    width: 100px;
}
.form_fields {
    margin-left: 55px;
    width: 366px;
}
.button{
    margin-left: 310px;
    margin-top: -13px;
}