// Place all the styles related to the Users::Educations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.education_name {
  font-size: 16px;
  font-weight: bold;
}
.education_degree {
  font-size: 14px;
  font-weight: normal;
}
.education_date {
  color: #999;
  font-size: 13px;
}
.edit_align  {
  align: left;
}
